* {
	margin: 0;
	padding: 0;
	#font-family: Book Antiqua;
}

@font-face {
	font-family: Book Antiqua;
	/*这里是说明调用来的字体名字*/
	src: url(../css/Book Antiqua.ttf);
	/*这里是字体文件路径*/
}

@font-face {
	font-family: Times New Roman;
	/*这里是说明调用来的字体名字*/
	src: url(../css/Times New Roman .fon);
	/*这里是字体文件路径*/
}

img{
	border: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.fix {
	zoom: 1;

}

body {
	min-width: 1200px;
}

.fix:after {
	content: '';
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.container {
	max-width:  960px;
	margin: 0 auto;
}

.header {
	height: 60px;
	background-color: #720808;
	background: url(../images/bg_top.png) 100% 100% no-repeat;
}

.logo {
	float: left;
	height: auto;
}

.logo span {
	display: inline-block;
	height: 60px;
	vertical-align: middle;
	line-height: 60px;
}

.logo a img {
	vertical-align: middle;
}

.po {
	padding-bottom: 0px;
	border-bottom: 4px solid #a5a5a5;
}

.right_img {
	margin-top: 0px;
}

.list_pub {
	margin: 30px 0;
}

.list_pub h1 {
	font-size: 18px;
	margin-bottom: 5px;
}

.list_pub div {
	text-indent: 1.5em;
	margin-bottom: 20px;
	font: normal normal normal 14px/29px sans-serif;
	color: #181818;
}

.logo_right {
	float: right;
	height: 60px;
	line-height: 60px;
	color: white;
}

.right_img {
	float: right;
	line-height: 105px;
}

.right_img img {
	display: inline-block;
	height: 60px;
	margin: 0 5px;
	vertical-align: middle;
}

.search input {
	width: 150px;
	height: 30px;
	box-sizing: border-box;
	vertical-align: middle;
	background: transparent;
	outline: none;
	border-style: none;
	color: white;
	padding: 5px;
}

.search input::-webkit-input-placeholder {
	color: #96c6ff;
}

.tit {
	color: #720808;
	margin-top: 50px;
	font-size: 54px;
	border-bottom: 4px solid #888888;
	line-height: 110px;
	font-family: "YaleNew", Georgia, "Times New Roman", serif;
}

.tit:hover {
	color: #888888;
}

.main_left {
	float: left;
	width: ;
}

.menu {
	margin-top: 30px;
	margin-bottom: 30px;
}

.menu li {
	float: left;
	padding: 6px 18px;
}

.menu li a {
	font-size: 20px;
	color: #000000;
	line-height: 35px;
	font-family: Book Antiqua;
}

.menu li a:hover {
	color: #286dc0;
}

.dh {
	padding: 0 13px;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dbdbdb;
}

.dh a {
	color: #2A2A2A;
	font-size: 16px;
	line-height: 25px;
	margin: 0 5px;
}

.dh a:hover {
	text-decoration: underline;
	color: #286dc0;
}

.dh i {
	margin: 0 10px;
}

.box {
	min-height: 600px;
	/*padding: 0 18px;*/
	/*margin-bottom: 50px;*/
}

.main_left {
	width: 766px;
	float: left;
}


/**/

.index_banner .slideBox {
	width: 100%;
	/*height: 230px;*/
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

.index_banner .slideBox .hd {
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
	width: 100%;
	text-align: center;
}

.index_banner .slideBox .hd ul {
	overflow: hidden;
	zoom: 1;
	width: 100%;
	text-align: center;
}

.index_banner .slideBox .hd ul li {
	display: inline-block;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	line-height: 14px;
	text-align: center;
	background: #fff;
	cursor: pointer;
	border-radius: 50%;
}

.index_banner .slideBox .hd ul li.on {
	background: #333333;
	color: #fff;
}

.index_banner .slideBox .bd {
	width: 100%;
	position: relative;
	height: 100%;
	z-index: 0;
}

.index_banner .slideBox .bd li {
	zoom: 1;
	vertical-align: middle;
}

.index_banner .slideBox .bd img {
	width: 100%;
	max-width: 100% !important;
	/*height: 230px;*/
	display: block;
}


/**/

.w {
	color: #a41118;
	font-size: 43px;
	font-family: "YaleNew", Georgia, "Times New Roman", serif;
	line-height: 0px;
	margin-top: 30px;
	font-weight: normal;
}

.block-title {
	font-size: 25px;
	color: #a41118;
	font-family: "YaleNew", Georgia, "Times New Roman", serif;
	margin: 34px 0 10px 0;
	font-weight: normal;
	line-height: 60px;
	border-bottom: 4px solid #a5a5a5;
}

.field-content {
	font-size: 14px;
	color: #181818;
	/*line-height: 39px;*/
	font-weight: normal;
	display: list-item;
	list-style-position: inside;
	font-family: Book Antiqua;
}

.field-content a {
	font-family: Book Antiqua;
	color: #181818;
	font-size: 18px;
}

.date-display-single {
	font-size: 18px;
	font-family: Book Antiqua;
	line-height: 29px;
	/*font-style: italic;*/
	margin-right: 5px;
}

.views-field {
	font-size: 16px;
	color: #222;
	cursor: pointer;
	line-height: 30px;
	text-align: justify;
	font-family: Book Antiqua;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	text-rendering: optimizeLegibility;
	font-weight: normal;
	margin-top: 10px;
}

.footer_logo img {
	width: 300px;
}

.img {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-right: 31px;
}

.img img {
	width: auto;
	display: block;
	margin: 0 auto;
}

.text {
	width: 100%;
}

.new_box {
	border-bottom: 1px solid #dbdbdb;
	padding: 7px 0;
}

img {
	max-width: 100%;
}

.main_ringht {
	width: 338px;
	float: right;
	border-top: 4px solid #a5a5a5;
	background-color: #f9f9f9;
	padding: 25px 30px;
	box-sizing: border-box;
	margin-bottom: 30px;
	margin-top: 93px;
}

.content {
	line-height: 30px;
}

.right_h2 {
	font-size: 20px;
	color: #222222;
	margin-bottom: 10px;
	font-weight: normal;
	font-family: Book Antiqua;
}

.right_h2:after {
	content: "";
	display: block;
	width: 40px;
	margin-top: 15px;
	border-bottom: 1px solid #ccc;
}

.content p {
	font-size: 15px;
	color: #222222;
	margin-bottom: 15px;
	text-align: justify;
}

.more-link {
	text-align: center;
	margin: 20px 0 42px 0;
}

.more-link a {
	display: inline-block;
	padding: 15px 20px;
	font-size: 16px;
	color: #222222;
	font-family: Book Antiqua;
	border: 1px solid #dddddd;
}

.footer {
	padding: 15px 0;
	background-color: #720808;
}

.footer_logo {
	float: left;
}

.footer_text {
	float: left;
	margin-left: 50px;
	margin-top: 15px;
}

.w_100 {
	width: 100%;
}

.none {
	display: none;
}

.footer_right {
	float: right;
}

.footer_text p {
	font-size: 16px;
	line-height: 25px;
	color: white;
	    letter-spacing: 1px;
}

.footer_right i {
	display: inline-block;
	font-size: 18px;
	color: white;
	margin: 0 10px;
	cursor: pointer;
}

.xm6 {
	width: 60%;
	float: left;
	padding: 0 20px;
	box-sizing: border-box;
}

.xm4 {
	width: 40%;
	float: left;
}

.xm4 img {
	max-width: 95%;
	display: block;
	margin: 0 auto;
}

.margin-large-bottom {
	padding-top: 20px;
	margin-bottom: 30px;
}

#fh5co-content_show .detail img {
	margin: 11px 0;
	max-width: 100%;
}

#fh5co-content_show .service-boxs h5 {
	font-size: 26px;
	color: #555;
}

.line {
	padding: 30px 0;
	border-bottom: 1px dotted #dbdbdb;
}

.time a {
	display: inline-block;
	margin: 0 10px;
	font-size: 18px;
	    color: #3a3a3a;
	    font-family: Times New Roman;
}

.time {
	margin: 25px 0;
}

.show_img_title a{
	color: #3a3a3a;
	font-weight: bold;
}

.left_menu {
	float: left;
	width: 280px;
	margin-bottom: 30px;
}

.left_menu li a {
	display: block;
	line-height: 45px;
	border-bottom: 1px solid #dddddd;
	padding: 0 17px;
	color: #222222;
	font-size: 18px;
	box-sizing: border-box;
}

.left_menu li a:hover {
	color: #286dc0;
	background-color: #f9f9f9;
}

.right_menu {
	float: right;
	width: 800px;
}

.box_list:nth-child(odd) {
    background-color: #f9f9f9;
}

.right_menu p {
	color: #3a3a3a;
	margin: 15px 0;
}

.right_menu p img {
	max-width: 80%;
	display: block;
}

.publication__header {
	width: 860px;
	float: left;
	height: 50px;
	margin-bottom: 10px;
	background-color: #e6e8f5;
}

.div_img {
	height: 100%;
	float: left;
	width: 50px;
}

.div_img img {
	width: 50px;
	height: 50px;
}

.publication__title {
	height: 50px;
	float: left;
	font-size: 16px;
	line-height: 50px;
	color: #180183;
	margin-left: 25px;
}

.publication__linked-box {
	float: right;
	width: 290px;
	margin-bottom: 10px;
}

.publication__link {
	color: #fff;
	font-family: Aleo;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
	background-color: #180183;
	height: 100%;
	display: block;
	line-height: 50px;
	padding: 0 38px;
	text-align: center;
	box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.publication__cover-wrap {
	width: 48%;
	float: left;
	height: 250px;
	padding: 10px;
	background-color: white;
	box-sizing: border-box;
}

.publication__graphics-wrap {
	width: 48%;
	float: right;
	height: 250px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	background-color: white;
}

.publication__cover div {
	float: left;
}

.publication__content {
	width: 320px;
	text-align: justify;
	font-size: 14px;
	color: #666;
	line-height: 25px;
}

.publication__graphics-wrap img {
	max-height: 200px;
	display: block;
	margin: 0 auto;
}

.left_div {
	width: 279px;
	float: left;
	padding: 12px 16px;
	box-sizing: border-box;
}

.right_div {
	float: left;
	width: 500px;
	padding: 12px 20px;
	box-sizing: border-box;
	padding-top: 30px;
	border-left: 1px solid #dbdbdb;
	min-height: 400px;
}

.left_div .img_x img {
	width: 230px;
	height: 230px;
	display: block;
	margin: 0 auto;
}

.name {
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #00356b;
	font-size: 28px;
	font-family: "YaleNew", Georgia, "Times New Roman", serif;
}

.left_div div {
	margin-bottom: 25px;
	font-size: 14px;
	color: #222222;
	line-height: 29px;
}

.yh h3 {
	margin-bottom: 25px;
	font-weight: bold;
	color: #00356b;
	font-size: 28px;
	font-family: "YaleNew", Georgia, "Times New Roman", serif;
}

.yh p {
	margin-bottom: 10px;
	font-size: 14px;
	color: #222222;
	line-height: 29px;
}

.yh p span {
	color: #000000;
	/*font-weight: bold;*/
}

.yh {
	margin-bottom: 30px;
}

.xpc {
	margin: 40px 0;
	color: #B42434;
	font-size: 22px;
}

.new_list {
	/*display: list-item;
	list-style-position: inside;
	list-style: disc;*/
	font: normal normal normal 18px/29px Book Antiqua  !important;
	color: #181818;
	margin: 20px 0;
	font-weight: bold;
}

.new_list p {
	margin: 20px 0;
}

.new_list span {
	display: inline-block;
	margin-right: 5px;
}

.block-news {
	position: absolute;
	/*padding-bottom: 180px;*/
	/*padding: 40px;*/
}

.block-news .news-item {
	position: absolute;
	padding-bottom: 10px;
}

/*.block-news .news-item .news-thumb {
	margin-bottom: 20px;
}*/

.block-news .news-item .news-thumb .mask {
	height: 100%;
	width: 100%;
	background: rgba(21, 21, 21, 0);
	display: none;
}

.block-news .news-item .news-thumb:hover .mask {
	display: block;
}

.con{
	margin-bottom: 20px;
}
.con p{
	color: #3a3a3a;
    font-family: Times New Roman;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}
.news-thumb img{
	display: block;
	margin: 0 auto;
}
.block-news .news-time {
	background: #720808 !important;
}

.block-news .news-item .news-time {
	position: absolute;
	height: 60px;
	width: 140px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	left: 0;
	top: 0;
	font-size: 20px;
	line-height: 60px;
}

.year-mews {
	position: relative;
}

.year-mews:before {
	content: '';
	position: absolute;
	width: 2px;
	background: transparent;
	height: 100%;
	top: 20px;
	left: 12px;
}

.year-button {
	width: 100px;
	height: 50px;
	display: block;
	background: #720808;
	color: #fff;
	font-weight: 700;
	text-align: center;
	line-height: 50px;
	margin-bottom: 20px;
}

.year-button:hover {
	color: #fff;
}
/*.news-list {
	padding: 0 15px 0 30px;
}*/

.block-news .news-item .title {
	font-size: 22px;
	/*line-height: 40px;*/
	font-family: Times New Roman;
}
.block-news .news-item .xp{display:block; float:left; line-height:31px;}
.block-news .news-item .contentpb{float:left;position: absolute;}
.block-news .news-item .contentpb .con1{margin-bottom:3px;}
.block-news .news-item .contentpb .title a {
	color: #3a3a3a;
	font-family: Times New Roman;
	font-size: 18px;
	font-weight: 400;
}
.clear{ margin:0; padding:0; font-size:0; clear:both; }
.block-news .news-item .desc {
	font-size: 14px;
	line-height: 24px;
	color: rgba(21, 21, 21, 0.8);
	max-height: 48px;
	overflow: hidden;
}

.block-news .news-item .detail {
	font-size: 14px;
	line-height: 24px;
	color: rgba(21, 21, 21, 0.8);
}

.block-news .page a {
	float: left;
	height: 45px;
	width: 45px;
	margin-right: 1px;
	line-height: 45px;
	text-align: center;
	background: rgba(21, 21, 21, 0.5);
	color: #fff;
}

.block-news .share {
	border-top: 1px #eee solid;
	height: 50px;
	padding-top: 15px;
}

.block-news .share *,
.block-news .share *:before,
.block-news .share *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.block-news.black {
	background: #212121;
	color: #fff;
}

.more {
	color: #999;
	font-size: 12px;
}


.b_tit {
	text-align: center;
	color: rgb(0, 112, 192);
	font-size: 36px;
	font-family: Times New Roman;
	margin-bottom: 20px;
}

.s_tit{
	color: #3a3a3a;
	font-size: 20px;
	font-family: Times New Roman;
	margin-bottom: 20px;
	display: list-item;
	list-style: disc;
	list-style-position: inside;
	padding-left: 20px;
}
.research_box{
	margin: 30px auto;
}

.text_research{
	font-family: Times New Roman;
}

.list_research{
	padding: 20px 0;
	border-bottom: 1px solid #dbdbdb;
}

.research_img{
	display: block;
	margin: 15px auto;
	max-width: 100%;
}

.new_list img{
	display: block;
	margin: 0 auto !important;max-width: 100%;
}

.mi_500{
	min-height: 500px;
}
