
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Jiang Research Group</title>

  <!-- Bootstrap core CSS -->
  <link href="{{site.baseurl}}/test_page/css/editor.css" rel="stylesheet">
  <script src="{{site.baseurl}}/test_page/js/bootstrap.min.js"></script>
 <link rel="icon" href ="{{site.baseurl}}/favicon.png">
  <!-- Custom styles for this template -->
  <link href="{{site.baseurl}}/test_page/css/narrow-jumbotron.css" rel="stylesheet">
  <link href="{{site.baseurl}}/test_page/css/carousel.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="{{site.baseurl}}/test_page/css/blog.css" rel="stylesheet">
  <link href="{{site.baseurl}}/test_page/css/pricing.css" rel="stylesheet">

    <!-- original -->
    {%- if page.layout == "mypost" %}
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/post.css?t={{buildAt}}">
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/code-dark.css?t={{buildAt}}">
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/code-light.css?t={{buildAt}}">
    {%- endif %}
    {%- if page.layout == "page" %}
    <link rel="stylesheet" href="{{site.baseurl}}/static/css/page.css?t={{buildAt}}">
    {%- endif %}

    <!-- yan copy -->
    <script src="./Yan Research Group 颜徐州课题组_files/jquery1.42.min.js"></script>
    <script src="./Yan Research Group 颜徐州课题组_files/html5shiv-printshiv.js" type="text/javascript" charset="utf-8"></script>
    <script src="./Yan Research Group 颜徐州课题组_files/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="./Yan Research Group 颜徐州课题组_files/selectivizr-development.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="./Yan Research Group 颜徐州课题组_files/myJs.js"></script>

    <link href="./Yan Research Group 颜徐州课题组_files/page.css" rel="stylesheet" type="text/css">

</head>
